.git
.github
.vscode
node_modules
services/frontend/node_modules
services/backend/node_modules
# services/frontend/dist (Removed to allow local build deployment)
# data/ (Removed to allow multi-stage build in the cloud)
.git
.github
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Dockerfile
.dockerignore
