.git
.github
.vscode
node_modules/
services/backend/node_modules/
services/frontend/node_modules/
# Allow services/frontend/dist even though it is in .gitignore
!services/frontend/dist/
*.log
.DS_Store
# Dockerfile should NOT be ignored here because gcloud needs it
.dockerignore
.gcloudignore
